// The Material Design color palette
// The UI font stack
$font-stack             : bpg_Arial , Arial, sans-serif !default;
$ui-button-font-size    : 1em ;
$ui-alert-font-size     : 1.1em ;
$ui-modal-transition-duration: 0s;